
@{
    ViewBag.Title = "ErrorTransaction";
}

<div id="dvFilterSearch" style="margin-top:30px;">
    <div class="mainServices clearfix">
        <div class="container">
            <div style="background-color:white;margin-top:40px;padding:30px">
                <h2 style="margin:20px;text-align:center;font-weight:bold;color:red;">
                    Error! Transaction is Incomplete.<br />
                    @ViewBag.ErrorMsg

                    
                </h2>
            </div>
        </div>
    </div>
</div>



