@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="rightpart">
    <div class="sechBx clearfix">
        <div class="bretcrum">Dashboard</div>
    </div>
    <div class="dashBx">
        <div class="dashboardHD">Dashboard</div>
    </div>
</div>

